* {
  margin: 0;
  padding: 0;
}

.navbar {
  padding-top: 8px;
  padding-bottom: 8px;
  background: #333;
}

.navbar-list {
  display: inline-block;
  padding-left: 15px;
  color: #999;
  text-decoration: none;
  font-weight: 600;
}

.form-send {
  display: flex;
  justify-content: center;
}

.form-send input {
  padding: 15px;
  border: solid 1px violet;
}

.entries {
  padding: 10px;
  margin: 20px;
  border: solid 1px black;
}


.footer {
  margin-top: 500px;
  background: #333;
}